body{
    font-family: 'M PLUS 1p', sans-serif;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}
.image {
    text-align: center;
}

img {
    width: 80%;
}

a{
    color: gray;
}
h1{
    font-size: 120px;
    font-weight: 800;
    text-align: center;
}

h2{
    font-size: 40px;
    font-weight: 300;
}