body{
    font-family: 'M PLUS 1p', sans-serif;
    -webkit-text-size-adjust: 100%;
    text-align: center;
}

div{
    text-align: center;
    margin: 0 auto;
    width: 25%;
}

.image {
    text-align: center;
}

img{
    width: 50%;
}

a{
    color: gray;
}
h1{
    font-size: 300%;
    font-weight: 800;
    text-align: center;
}

h2{
    font-size: 100%;
    font-weight: 300;
}